{% load static %}

	<!-- Banner starts -->
	<section class="banner banner__single-post banner__standard">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="post-title-wrapper">
						<div class="btn-group">
							<a href="#" class="cat-btn bg-color-blue-one">TECHNOLOGY</a>
						</div>

						<h2 class="m-t-xs-20 m-b-xs-0 axil-post-title hover-line">VR Is the Use of Computer
							Technology to Create a Simulated Environment.
						</h2>
						<div class="post-metas banner-post-metas m-t-xs-30">
							<ul class="list-inline">
								<li><a href="#" class="post-author post-author-with-img"><img
											src="{% static 'Home/images/author/01.png' %} " alt="author">Ashley Graham</a></li>
								<li><i class="dot">.</i>April 17, 2019</li>
								<li><a href="#"><i class="feather icon-activity"></i>5k Views</a></li>
								<li><a href="#"><i class="feather icon-share-2"></i>230 Shares</a></li>
							</ul>
						</div>
						<!-- End of .post-metas -->
					</div>
					<!-- End of .post-title-wrapper -->
				</div>
				<!-- End of .col-lg-6 -->

				<div class="col-lg-6">
					<img src="{% static 'Home/images/banner-gallery/banner-gallery-5.jpg' %} " alt="" class="img-fluid"
						width="600" height="600">
				</div>
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .banner -->
