<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui inverted menu">
        <a class="red item active">Red</a>
        <a class="orange item">Orange</a>
        <a class="yellow item">Yellow</a>
        <a class="olive item">Olive</a>
        <a class="green item">Green</a>
        <a class="teal item">Teal</a>
        <a class="blue item">Blue</a>
        <a class="violet item">Violet</a>
        <a class="purple item">Purple</a>
        <a class="pink item">Pink</a>
        <a class="brown item">Brown</a>
        <a class="grey item">Grey</a>
    </div>
    <p></p>
    <h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Friends
    </h2>
    <center>
    <div class="ui center horizontal list">
        <div class="item">
            <img class="ui mini circular image" src="https://images.pexels.com/photos/3565370/pexels-photo-3565370.jpeg">
            <div class="content">
            <div class="ui sub header">Molly</div>
            Coordinator
            </div>
        </div>
        <div class="item">
            <img class="ui mini circular image" src="https://images.pexels.com/photos/3841338/pexels-photo-3841338.jpeg">
            <div class="content">
            <div class="ui sub header">Elyse</div>
            Developer
            </div>
        </div>
        <div class="item">
            <img src="https://images.pexels.com/photos/1933873/pexels-photo-1933873.jpeg" class="ui mini circular image">
            <div class="content">
            <div class="ui sub header">Eve</div>
            Project Manager
            </div>
        </div>
    </div>
    </center>
    

    <div class="ui inverted segment">
        <h4 class="ui red inverted header">Red</h4>
        <!-- <h4 class="ui orange inverted header">Orange</h4> -->
        <!-- <h4 class="ui yellow inverted header">Yellow</h4>
        <h4 class="ui olive inverted header">Olive</h4>
        <h4 class="ui green inverted header">Green</h4>
        <h4 class="ui teal inverted header">Teal</h4>
        <h4 class="ui blue inverted header">Blue</h4>
        <h4 class="ui purple inverted header">Purple</h4>
        <h4 class="ui violet inverted header">Violet</h4>
        <h4 class="ui pink inverted header">Pink</h4>
        <h4 class="ui brown inverted header">Brown</h4>
        <h4 class="ui grey inverted header">Grey</h4> -->
    </div>


    
</body>

</html>