{% extends 'Home/base.html' %}
{% load static %}
{% block title %}
Post
{% endblock title %}
{% block maincontent %}

<div class="main-content">
	<div class="breadcrumb-wrapper">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Page Name</a></li>
					<li class="breadcrumb-item"><a href="#">Categories</a></li>
					<li class="breadcrumb-item active" aria-current="page">Post Name</li>
				</ol>
				<!-- End of .breadcrumb -->
			</nav>
		</div>
		<!-- End of .container -->
	</div>
	<!-- End of .breadcrumb-container -->

	{% include 'Home/PostPage/1banner.html' %}

	<!-- post-single-wrapper starts -->
	<div class="post-single-wrapper p-t-xs-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<main class="site-main">
						<article class="post-details">
							<div class="single-blog-wrapper">
								<div class="post-details__social-share mt-2">
									<ul class="social-share social-share__with-bg social-share__vertical">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-behance"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
									<!-- End of .social-share__no-bg -->
								</div>
								<!-- End of .social-share -->

								<p>Mother’s Day is this Sunday, folks!</p>
								<p> For those of us who want to say thank you to our moms, it’s not always easy to
									put those big feelings in words. Which is where Dribbble comes in.</p>
								<p>These eight shots crystallize the hard work moms put into keeping their kids
									alive, happy, and healthy. They might give you the inspiration you need for
									filling out that card—or stand alone for your mom’s interpretation.</p>

								<figure>
									<img src="assets/images/post-single-gallery/post-single-img-1.jpg" alt="img">
									<figcaption>Drawn for an insurance company</figcaption>
								</figure>

								<p>Moms are the ones who bandage our boo-boos when we’re little and continue to take
									care of us as we get older—often sacrificing their own needs so they can help
									with ours. Cruising on a bike to help heal our injuries is the most mom thing
									one can do.</p>

								<blockquote>
									<p>
										If you’ve been waiting for an invitation, this calligraphy is it.
										Commissioned
										by
										Facebook, this is a hand-lettered design for a poster. Quote is Facebook
										Building 8
										VP’s
										Regina Dugan—and mine.
									</p>
								</blockquote>

								<p>Moms are the ones who bandage our boo-boos when we’re little and continue to take
									care of us as we get older—often sacrificing their own needs so they can help
									with ours. Cruising on a bike to help heal our injuries is the most mom thing
									one can do.</p>

								<p>They’re the ones we rely on for playdates and emotional support, homework help
									and
									babysitting. Moms are the ultimate dependable support. Like, hopefully, the
									button
									on
									your
									jeans.</p>
								<div class="add-container m-b-xs-60">
									<a href="#"><img src="assets/images/clientbanner/clientbanner.jpg" alt="add one"
											class="img-fluid"></a>
								</div>
								<h3>Here Come The Moms In Space</h3>

								<ul class="row gallery text-center">
									<li class="col-lg-6">
										<figure>
											<img src="assets/images/post-single-gallery/post-single-gallery-6.jpg"
												alt="img">
											<figcaption>Drawn for an insurance company</figcaption>
										</figure>
									</li>
									<li class="col-lg-6">
										<figure>
											<img src="assets/images/post-single-gallery/post-single-gallery-7.jpg"
												alt="img">
											<figcaption>Drawn for an insurance company</figcaption>
										</figure>
									</li>
								</ul>
								<!-- End of .gallery -->

								<p>Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are
									the ones who make sure things happen—from birth to school lunch.</p>
								<p>They’re the ones we rely on for playdates and emotional support, homework help
									and babysitting. Moms are the ultimate dependable support. Like, hopefully, the
									button on your jeans.</p>
								<p>My hero when I was a kid was my mom. Same for everyone I knew. Moms are
									untouchable. They’re elegant, smart, beautiful, kind…everything we want to be.
									At 29 years old, my favorite compliment is being told that I look like my mom.
									Seeing myself in her image, like this daughter up top, makes me so proud of how
									far I’ve come, and so thankful for where I come from.</p>
								<h3>Want To See More Dribbble Shots?</h3>
								<p>Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are
									the ones who make sure things happen—from birth to school lunch.</p>
								<p>They’re the ones we rely on for playdates and emotional support, homework help
									and babysitting. Moms are the ultimate dependable support. Like, hopefully, the
									button on your jeans.</p>
								<p>My hero when I was a kid was my mom. Same for everyone I knew. Moms are
									untouchable. They’re elegant, smart, beautiful, kind…everything we want to be.
									At 29 years old, my favorite compliment is being told that I look like my mom.
									Seeing myself in her image, like this daughter up top, makes me so proud of how
									far I’ve come, and so thankful for where I come from.</p>

								<figure class="post-media">
									<video class="plyr-post"
										poster="assets/images/video-post/post-format-video-1.html"
										id="video-player-1" playsinline controls>
										<source src="assets/videos/post-format-video-1.mp4" type="video/mp4">
									</video>
									<figcaption>
										Drawn for an insurance company
									</figcaption>
								</figure>


								<p>Mother’s Day is this Sunday, folks!</p>
								<p>These eight shots crystallize the hard work moms put into keeping their kids
									alive,
									happy,
									and
									healthy.
									They might give you the inspiration you need for filling out that card—or stand
									alone
									for
									your mom’s
									interpretation.</p>

								<ul class="masonry-grid gallery">
									<li class="grid-item col-lg-4">
										<figure>
											<img src="assets/images/single-masonry-gallery/gallery-1.png" alt=""
												class="img-fluid w-100">
										</figure>
									</li>
									<li class="grid-item col-lg-4">
										<figure>
											<img src="assets/images/single-masonry-gallery/gallery-2.png" alt=""
												class="img-fluid w-100">
										</figure>
									</li>
									<li class="grid-item col-lg-4">
										<figure>
											<img src="assets/images/single-masonry-gallery/gallery-3.png" alt=""
												class="img-fluid w-100">
										</figure>
									</li>
									<li class="grid-item col-lg-4">
										<figure>
											<img src="assets/images/single-masonry-gallery/gallery-4.png" alt=""
												class="img-fluid w-100">
										</figure>
									</li>
								</ul>
								<!-- End of .gallery -->

								<p>For those of us who want to say thank you to our moms, it’s not always easy to
									put
									those
									big
									feelings
									in
									words. Which is where Dribbble comes in.</p>
								<h3>Moms On The Move</h3>

								<p>Drawn for an insurance company, this animation of a mom with a first-aid kit and
									a
									flashing
									red light exemplifies the mother’s job.</p>
								<p>Moms are the ones who bandage our boo-boos when we’re little and continue to take
									care of
									us
									as we get older—often sacrificing their own needs so they can help with ours.
									Cruising
									on a
									bike to help heal our injuries is the most mom thing one can do.</p>

								<p>Moms are the ones who bandage our boo-boos when we’re little and continue to take
									care of
									us
									as we get older—often sacrificing their own needs so they can help with ours.
									Cruising
									on a
									bike to help heal our injuries is the most mom thing one can do.</p>

								<blockquote>
									<p>
										If you’ve been waiting for an invitation, this calligraphy is it.
										Commissioned
										by
										Facebook, this is a hand-lettered design for a poster. Quote is Facebook
										Building 8
										VP’s
										Regina Dugan—and mine.
									</p>
								</blockquote>

								<p>Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are
									the
									ones
									who
									make sure things happen—from birth to school lunch.</p>

								<figure class="post-media">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe width="560" height="315"
											src="http://www.youtube.com/embed/U3v5yMF1hTs?origin=http://axilthemes.com/"
											allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>
									</div>
									<figcaption>
										Drawn for an insurance company
									</figcaption>
								</figure>


								<p>They’re the ones we rely on for playdates and emotional support, homework help
									and
									babysitting. Moms are the ultimate dependable support. Like, hopefully, the
									button
									on
									your
									jeans.</p>

								<h3>Unordered List Style?</h3>
								<ul class="unordered-list-two">
									<li>The refractor telescope uses a convex lens to focus the light on the
										eyepiece.
									</li>

									<li>The reflector telescope has a concave lens which means it bends in. It uses
										mirrors
										to
										focus the image that you eventually see.</li>

									<li>Collimation is a term for how well tuned the telescope is to give you a good
										clear
										image of what you are looking at. You want your telescope to have good
										collimation
										so
										you are not getting a false image of the celestial body.</li>

									<li>Aperture is a fancy word for how big the lens of your telescope is. But it’s
										an
										important word because the aperture of the lens is the key to how powerful
										your
										telescope is. Magnification has nothing to do with it, its all in the
										aperture.
									</li>

									<li>Focuser is the housing that keeps the eyepiece of the telescope, or what you
										will
										look
										through, in place. The focuser has to be stable and in good repair for you
										to
										have
										an
										image you can rely on.</li>
									<li>Mount and Wedge. Both of these terms refer to the tripod your telescope sits
										on.
										The
										mount is the actual tripod and the wedge is the device that lets you attach
										the
										telescope to the mount.</li>
								</ul>

								<p>Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are
									the
									ones
									who
									make sure things happen—from birth to school lunch.</p>

								<p>They’re the ones we rely on for playdates and emotional support, homework help
									and
									babysitting. Moms are the ultimate dependable support. Like, hopefully, the
									button
									on
									your
									jeans.</p>

								<figure class="post-media">
									<div class="embed-responsive embed-responsive-16by9" id="player">
										<iframe
											src="https://player.vimeo.com/video/76979871?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
											allowfullscreen allow="autoplay"></iframe>
									</div>
									<figcaption>
										Drawn for an insurance company
									</figcaption>
								</figure>


								<p>My hero when I was a kid was my mom. Same for everyone I knew. Moms are
									untouchable.
									They’re
									elegant, smart, beautiful, kind…everything we want to be. At 29 years old, my
									favorite
									compliment is being told that I look like my mom. Seeing myself in her image,
									like
									this
									daughter up top, makes me so proud of how far I’ve come, and so thankful for
									where I
									come
									from.</p>

								<h3>Want To See More Dribbble Shots?</h3>

								<p>Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are
									the
									ones
									who
									make sure things happen—from birth to school lunch.</p>

								<p>They’re the ones we rely on for playdates and emotional support, homework help
									and
									babysitting. Moms are the ultimate dependable support. Like, hopefully, the
									button
									on
									your
									jeans.</p>

								<figure class="post-media">
									<audio class="plyr-post">
										<source src="assets/audios/audio.mp3" type="audio/mpeg">
										Your browser does not support the audio element.
									</audio>
								</figure>

								<h3>Want To See More Dribbble Shots?</h3>

								<p>My hero when I was a kid was my mom. Same for everyone I knew. Moms are
									untouchable.
									They’re
									elegant, smart, beautiful, kind…everything we want to be. At 29 years old, my
									favorite
									compliment is being told that I look like my mom. Seeing myself in her image,
									like
									this
									daughter up top, makes me so proud of how far I’ve come, and so thankful for
									where I
									come
									from.</p>

								<blockquote class="blockquote blockquote__with-image m-t-xs-0 m-b-xs-30">
									<figure>
										<img src="assets/images/post-single-gallery/post-single-gallery-1.jpg"
											alt="image">
									</figure>
									<p>
										If you’ve been waiting for an invitation, this calligraphy is it.
										Commissioned
										by
										Facebook, this is a hand-lettered design for a poster. Quote is Facebook
										Building 8
										VP’s
										Regina Dugan—and mine.
									</p>
								</blockquote>
								<!-- End of .blockquote -->
							</div>
							<!-- End of .single-blog-wrapper -->
						</article>
						<!-- End of .post-details -->

						<div class="post-shares m-t-xs-60">
							<div class="title">SHARE:</div>
							<ul class="social-share social-share__rectangular">
								<li><a href="#" class="btn bg-color-twitch"><i class="fab fa-twitch"></i>
										1K+</a>
								</li>
								<li><a href="#" class="btn bg-color-facebook"><i class="fab fa-facebook-f"></i>
										1K+</a>
								</li>
								<li><a href="#" class="btn bg-color-twitter"><i class="fab fa-twitter"></i>1000+</a>
								</li>
								<li><a href="#" class="btn bg-color-linkedin"><i
											class="fab fa-linkedin-in"></i>1M+</a>
								</li>
							</ul>
						</div>
						<!-- End of .post-shares -->

						<hr class="m-t-xs-50 m-b-xs-60">

						<div class="about-author m-b-xs-60">
							<div class="media">
								<a href="#"><img class="author-img" src="assets/images/author/author-1.png"
										alt=""></a>
								<div class="media-body">
									<div class="media-body-title">
										<h3><a href="#">Jeffrey Franklin</a></h3>
									</div>
									<!-- End of .media-body-title -->

									<div class="media-body-content">
										<p>At 29 years old, my favorite compliment is being told that I look
											like my
											mom.
											Seeing myself in her image, like this daughter up top, makes me so
											proud
											of
											how
											far I’ve come, and so thankful for where I come from.</p>
										<ul class="social-share social-share__with-bg">
											<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-behance"></i></a></li>
											<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
										<!-- End of .social-share__no-bg -->
									</div>
									<!-- End of .media-body-content -->
								</div>
							</div>
						</div>
						<!-- End of .about-author -->

						<div class="comment-box">
							<h2>Leave A Reply</h2>
							<p>Your email address will not be published. Required fields are marked <span
									class="primary-color">*</span></p>
						</div>
						<!-- End of .comment-box -->

						<form action="#" class="comment-form row m-b-xs-60">
							<div class="col-12">
								<div class="form-group comment-message-field">
									<label for="comment-message">Comment</label>
									<textarea name="comment-message" id="comment-message" rows="6"></textarea>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" name="name" id="name">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label for="email">Email</label>
									<input type="text" name="email" id="email">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label for="website">Website</label>
									<input type="text" name="website" id="website">
								</div>
							</div>

							<div class="col-12">
								<button class="btn btn-primary">POST COMMENT</button>
							</div>
						</form>

						<div class="post-navigation-wrapper row  m-b-xs-60">
							<div class="post-navigation col-lg-6">
								<div class="post-nav-content">
									<a href="#" class="prev-post">
										<i class="feather icon-chevron-left"></i>Previous Post
									</a>
									<h3><a href="#">Tips For Choosing The Perfect Gloss For Your Lips</a></h3>
								</div>
							</div>
							<div class="post-navigation text-right col-lg-6">
								<div class="post-nav-content">
									<a href="#" class="next-post">
										Next Post<i class="feather icon-chevron-right"></i>
									</a>
									<h3><a href="#">Tips For Choosing The Perfect Gloss For Your Lips</a></h3>
								</div>
							</div>
						</div>
						<!-- End of .post-navigation -->
					</main>
					<!-- End of main -->
				</div>
				<!--End of .col-auto  -->

				<div class="col-lg-4">
					<aside class="post-sidebar">

						{% include 'Home/HomePage/subscribe_form.html' %}
			
				

					

						
						

						<div class="add-block-widget m-b-xs-40">
							<a href="#"><img src= "{% static 'Home/images/sidebar-add.jpg' %} " alt="sidebar add"
									class="img-fluid"></a>
						</div>
						<!-- End of .add-block-widget -->
					</aside>
					<!-- End of .post-sidebar -->
				</div>
				<!-- End of .col-lg-4 -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</div>
	<!-- End of .post-single-wrapper -->




</div>

{% endblock maincontent %}

